.conference-app {
  display: inline-block;
}

.nav, .content {
  border: 1px solid grey;
  margin: 5px;
  padding: 10px;
}

.nav {
  float: left;
  width: 200px;
}

.content {
  float: right;
  width: 1170px;
}

fieldset > div {
  margin: 5px;
  padding: 10px;
}

div > label:first-child {
  padding-top: 0.3em;
  width: 10em;
  text-align: left;
  vertical-align: top;
}

.message-list {
  list-style: circle;
}

.messages {
  display: inline-block;
  border-style: solid;
  border-color: yellow;
}

.menu-list {
  list-style: none;
  list-style-type: none;
}

