<h3>Twitter-App</h3>
<p>Search with #HashTag</p>
<input type="text" name="hashTag" [(ngModel)]="hashTag">
<button (click)="search()">Search</button>
<p *ngIf="searched && tweets.length==0">Keine Twitter-Suchergebnisse.</p>
<div class="message-div">
  <ul class="message-list">
    <li style="list-style: circle" *ngFor="let message of messageList">
      <p>{{message}}</p>
    </li>
  </ul>
</div>
<div *ngIf="tweets.length > 0">
  <h4>Results</h4>
  <ul>
    <li name="list-entry" *ngFor="let tweet of tweets">
      <p>{{tweet}}</p>
    </li>
  </ul>
</div>
