<div class="content-div">
  <h3>Twitter-Konferenz-App</h3>
  <p>Mit #HashTag suchen</p>
  <input type="text" name="hashTag" [(ngModel)]="hashTag">
  <button (click)="search()">Suchen</button>
  <div class="message-div" *ngIf="messageList.length > 0">
    <ul class="message-list">
      <li *ngFor="let message of messageList">
        <p>{{message}}</p>
      </li>
    </ul>
  </div>
  <div class="message-div" *ngIf="searched && conferences.length == 0 && messageList.length == 0">
    <ul class="message-list">
      <li><p>Keine Konferenz-Suchergebnisse.</p></li>
    </ul>
  </div>
  <div class="message-div" *ngIf="searched && tweets.length == 0 && messageList.length == 0">
    <ul class="message-list">
      <li><p>Keine TwitterSuchergebnisse.</p></li>
    </ul>
  </div>
  <div id="results" *ngIf="tweets.length > 0 || conferences.length > 0">
    <h4>Suchergebnisse</h4>
    <div>
      <div *ngIf="conferences.length > 0">
        <h5>Konferenzen</h5>
        <ul id="conference-results">
          <li name="conference-list-entry" *ngFor="let conference of conferences">
            <div>
              <label for="conferenceName">Konferenzname: </label>
              <p id="conferenceName">{{conference.conferenceName}}</p>
            </div>
            <div>
              <label for="from">Von: </label>
              <p id="from">{{conference.from}}</p>
              <label for="to">Bis: </label>
              <p id="to">{{conference.to}}</p>
            </div>
            <div>
              <label for="locationName">Veranstaltungsort: </label>
              <p id="locationName">{{conference.locationName}}</p>
            </div>
            <div>
              <label for="address">Adresse: </label>
              <p id="address">{{conference.street}} {{conference.houseNumber}}, {{conference.postcode}}
                {{conference.city}},
                {{conference.country}}</p>
            </div>
            <div>
              <label for="long-lat" *ngIf="conference.geoLocation.longitude">Längengrad x Breitengrad: </label>
              <p id="long-lat" *ngIf="conference.geoLocation.longitude">{{conference.geoLocation.longitude}} x
                {{conference.geoLocation.latitude}}</p>
            </div>
            <div>
              <label for="hashTag">Twitter-HashTag: </label>
              <p id="hashTag">{{conference.twitterHashTag}}</p>
            </div>
            <div>
              <label for="organizer-list">Organisierer: </label>
              <ul id="organizer-list">
                <li name="organizer-list-entry" *ngFor="let organizer of conference.organizerList">
                  <p>{{organizer.name}}</p>
                </li>
              </ul>
            </div>
            <div>
              <label for="sponsors-list">Sponsoren: </label>
              <ul id="sponsors-list">
                <li name="sponsor-list-entry" *ngFor="let sponsor of conference.sponsorsList">
                  <p>{{sponsor.name}}</p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="tweets.length > 0">
        <h5>Tweets</h5>
        <ul id="twitter-results">
          <li name="list-entry" *ngFor="let tweet of tweets">
            <p>{{tweet}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
